<div class="footer">
    <div>
        <p>
            lorem ipsum
        </p>
    </div>
    <div class="social">
        <!-- Social links generated from _meta data -->
        {% for social in pages["_meta"].meta.social %}
        <a href="{{ social.url }}" title="{{ social.title }}" role="button">
            <i class="{{ social.icon }}" aria-hidden="true"></i>
            <span class="sr-only">{{ social.title }}</span>
        </a>
        {% endfor %}

        <!-- Hardcoded Steam Link -->
        <a href="https://steamcommunity.com/id/-deux/" title="Steam" role="button">
            <i class="fa-brands fa-steam"></i>
            <span class="sr-only">Länk till min Steam</span>
        </a>
    </div>
</div>

<!-- Font Awesome -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
<script src="{{ theme_url }}/../shared/js/modernizr-3.3.1-custom.min.js" type="text/javascript"></script>
<script src="{{ theme_url }}/../shared/js/utils.js" type="text/javascript"></script>
<script src="{{ theme_url }}/../shared/js/responsive-navbar.js" type="text/javascript"></script>
